{% extends "main/layout.html" %}
{% load humanize %}

{% block title %}
    Confirmation | TEA Time
{% endblock %}

{% block body %}
    
    <div class="page-title">
        <div class="container">
            <h3>Confirmation</h3>
        </div>
    </div>
    
    <!-- order summary -->
    <div class="container">
        <div id="summary">
            <table id="order_info">
                <tr>
                    <th>Order No.</th>
                    <td>{{order.id}}</td>
                </tr>
                <tr>
                    <th>Order Time:</th>
                    <td>{{order.date_created}}</td>
                </tr>
                <tr>
                    <th>Store:</th>
                    <td>{{store}}</td>
                </tr>
                <tr>
                    <th>Stay or Takeaway?</th>
                    <td>{{stay}}</td>
                </tr>
                <tr>
                    <th>Customer:</th>
                    {% if name == None %}
                        <td></td>
                    {% else %}
                        <td>{{name}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Phone:</th>
                    {% if phone == None %}
                        <td></td>
                    {% else %}
                        <td>{{phone}}</td>
                    {% endif %}
                </tr>
                <tr>
                    <th>Email:</th>
                    {% if email == None %}
                        <td></td>
                    {% else %}
                        <td>{{email}}</td>
                    {% endif %}
                </tr>
            </table>

            <h5 class="subtitle">Order Summary</h5>
            <div>
                <table id="sum_table">
                    <tr>
                        <th>Product</th>
                        <th class="center">Price</th>
                        <th class="center">Quantity</th>
                        <th class="right">Subtotal</th>
                    </tr>
                    {% for item in order.get_items %}
                            <tr>
                                <td>{{item.product.name}} ({{item.hotOrCold}})</td>
                                <td class="center">{{item.product.price}}</td>
                                <td class="center">{{item.qty}}</td>
                                <td class="right">{{item.get_subtotal|floatformat:2|intcomma}}</td>
                            </tr>
                    {% endfor %}

                </table>
            </div>
            <hr style="border-top: 1px solid rgb(39, 185, 39);">
            <div class="sum">
                <strong>Total Items: {{order.get_total_items}}</strong>
            </div>
            <div class="sum">
                <strong>Amount: $ {{order.get_amount|floatformat:2|intcomma}}</strong>
            </div>

    </div>

{% endblock %}